<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-3 text-center fw-bold">Login Form</h1>
    <form class="d-flex flex-column gap-3 w-50 justify-content-center" action="/users/login" method="POST">
        <input type="email" name="email" id="email" placeholder="Email" class="form-control" required />
        <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control" required />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>