<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-3 text-center fw-bold">Register Form</h1>
    <form class="d-flex flex-column gap-3 w-50 justify-content-center" action="/users/register" method="POST">
        <input type="email" name="email" id="regEmail" placeholder="Email" class="form-control" required />
        <input
            type="password"
            name="password"
            id="regPassword"
            placeholder="Contraseña"
            class="form-control"
            required
        />
        <input type="text" name="photo" id="regPhoto" placeholder="Fotografía" class="form-control" />
        <div class="input-group">
            <span class="input-group-text">Role</span>
            <select class="form-select form-control" name="role" id="regRole">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>